name: build-resource-pack
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo Content
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Create .zip And .json
        run: |
          python .github/workflows/generatePack.py; python .github/workflows/generateSha1.py
      - name: Publish .zip And .json
        uses: github-actions-x/commit@v2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: 'master'
          commit-message: 'Generate Resource Pack Files'
          force-add: 'true'
          files: build
          name: Publish Action